*{margin: 0; padding: 0;}
body{text-align: center;}
ul,li{list-style: none;}
.a{text-decoration: none;}

#topmain{width: 100%;height: 100%;background-image: url("../Images/1.jpg");z-index: 1;position: relative;}
#topmain1{width: 100%;height: 220px;}
  /*.topmain12{width: 100%;height:220px;position: absolute;top:-210px;} 
	$("#topmain1Pic1").css("position","absolute");
		$("#topmain1Pic1").css("top","10px");
	$("#topmain1Pic1").css("left","415px");
  */
#kg{width: 100%;height:100px;}
#topmain1Pic1{width: 427;height:133px;background-image: url("../Images/2.png");margin:auto;padding-left: 6px;}
/*.topmain1Pic12{position: absolute;top:10px;left:415px; }
*/
#topmain1Pic2{width: 450px;height: 27px;background-image: url("../Images/2.png");margin: auto;background-position: 0 -135px;background-repeat: no-repeat;}
#topmain2{width: 100%;height: 150px;margin-top: 80px;}
#topmain2Content1{width: 570px;height:52px;margin:auto;}
#topmain2Content11{width: 184px;height:52px;float:left;background-image: url("../Images/2.png");background-position: 0 -197px;}
#topmain2Content12{width: 184px;height:52px;float: left;background-image: url("../Images/2.png");background-position: 0 -263px;margin-left: 8px;background-repeat: no-repeat;}
#topmain2Content13{width: 184px;height:52px;float: left;}
#topmain2Content13pic{width: 184px;height:52px;float: left;background-image: url("../Images/2.png");background-position: 0 -329px;margin-left: 8px;background-repeat: no-repeat;}
#topmain2Content2{width: 100%;height: 90px;padding-top: 173px;}
#topmain2Content21{width: 96px;height: 15px;font-size: 12px;font-family: "宋体";line-height: 15px;display: block;float: left;text-decoration: none;color:#ccc;margin-left: 6px; }
#topmain2Content22{width: 71px;height: 15px;font-size: 12px;font-family: "宋体";line-height: 15px;display: block;float: left;text-decoration: none;color:#ccc;}
#topmain2Content23{width: 110px;height: 15px;font-size: 12px;font-family: "宋体";line-height: 15px;display: block;float: left;text-decoration: none;color:#ccc;}
#topmain2Content23:hover{color: #fff}
#topmain2Content24{width: 5px;height: 15px;font-size: 12px;font-family: "宋体";line-height: 15px;display: block;float: left;text-decoration: none;color:#ccc;}
#topmain2Content25{width:36px;height: 15px;font-size: 12px;font-family: "宋体";line-height: 15px;display: block;float: left;text-decoration: none;color:#ccc;margin-left: 4px;}
#topmain2Content25:hover{color: #fff}
#topmain2Content26{width:24px;height: 15px;font-size: 12px;font-family: "宋体";line-height: 15px;display: block;float: left;text-decoration: none;color:#ccc;margin-left: 4px;}
#topmain2Content26:hover{color: #fff}
#topmain2Content27{width: 24px;height: 15px;font-size: 12px;font-family: "宋体";line-height: 15px;display: block;float: left;text-decoration: none;color:#ccc;margin-left: 4px;}
#topmain2Content27:hover{color: #fff}
#topmain2Content28{width: 48px;height: 15px;font-size: 12px;font-family: "宋体";line-height: 15px;display: block;float: left;text-decoration: none;color:#ccc;margin-left: 4px;}
#topmain2Content28:hover{color: #fff}
#topmain2Content29{width: 48px;height: 15px;font-size: 12px;font-family: "宋体";line-height: 15px;display: block;float: left;text-decoration: none;color:#ccc;margin-left: 4px;}
#topmain2Content29:hover{color: #fff}
#topmain2Content210{width: 48px;height: 15px;font-size: 12px;font-family: "宋体";line-height: 15px;display: block;float: left;text-decoration: none;color:#ccc;margin-left: 4px;}
#topmain2Content210:hover{color: #fff}

.topmain2Contentdown{width: 100%;height: 300px;background-color: #fff;z-index: 2;top:350px;left: 0;position: absolute;display: none;}
#topmain2Contentdown1{width: 570px;height: 40px;z-index: 3;background-color: #fff;margin:auto;}
#topmain2Contentdown11{width: 318px;height: 40px;display:block;float: left;font-size: 12px;}
#topmain2Contentdown12{width: 190px;height: 40px;display:block;float: left;font-size: 12px;}
#topmain2Contentdown2{width: 570px;height: 40px;margin:auto;z-index: 3;}
#topmain2Contentdown21{display: block;float: left;width: 318px;height:40px;background-image:url("../Images/3.png");background-position: -43px -10px;}
#topmain2Contentdown22{margin-left: 30px;width: 135px;height:40px;background-image: url("../Images/2.png");background-position: 0 -505px;display: block;float: left;}
#topmain2Contentdown22:hover{background-image: url("../Images/2.png");background-position: -200px -505px;}
#topmain2Contentdown3{width: 570px;height: 40px;z-index: 3;margin:auto;}
#topmain2Contentdown31{display: block;float: left;width: 318px;height:40px;background-image:url("../Images/3.png");background-position: -43px -40px;}
#topmain2Contentdown32{margin-left: 30px;width: 135px;height:40px;background-image: url("../Images/2.png");background-position: 0 -560px;display: block;float: left;}
#topmain2Contentdown32:hover{background-image: url("../Images/2.png");background-position: -200px -560px;}
#topmain2Contentdown4{width: 570px;height: 40px;z-index: 3;margin:auto;}
#topmain2Contentdown42{width: 135px;height:40px;background-image: url("../Images/2.png");background-position: 0 -615px;display: block;float: left;background-repeat: no-repeat;margin-left: 30px;}
#topmain2Contentdown42:hover{background-image: url("../Images/2.png");background-position: -200px -615px;}
#topmain2Contentdown41{width: 318px;height:40px;background-image: url("../Images/2.png");background-position: 0 -870px;display: block;float: left;}
#topmain2Contentdown41:hover{background-image: url("../Images/2.png");background-position: 0 -924px;}
#topmain2Contentdown5{width: 318px;height: 20px;z-index: 3;margin:auto;}
#topmain2Contentdown51{width:16px;height: 16px;display: block;float: left;text-decoration: none;}
#topmain2Contentdown52{width:48px;height: 16px;display: block;float: left;text-decoration: none;font-size: 12px;}
#topmain2Contentdown53{width:48px;height: 16px;display: block;float: left;text-decoration: none;margin-left: 170px;font-size: 12px;}
#belongs1{width: 36px;height: 17px;background-image: url("../Images/2.png");background-position: -403px -293px;z-index: 3;left:430px;position: absolute;top: 300px;display: none;}


#topmain2Contentdown201{width: 570px;height: 40px;z-index: 3;background-color: #fff;margin:auto;}
#topmain2Contentdown2011{width: 318px;height: 40px;display:block;float: left;font-size: 12px;}
#topmain2Contentdown2012{width: 190px;height: 40px;display:block;float: left;font-size: 12px;}
#topmain2Contentdown202{width: 570px;height: 40px;margin:auto;z-index: 3;}
#topmain2Contentdown2021{display: block;float: left;width: 318px;height:40px;background-image:url("../Images/3.png");background-position: -43px -72px;}
#topmain2Contentdown2022{margin-left: 30px;width: 135px;height:40px;background-image: url("../Images/2.png");background-position: 0 -505px;display: block;float: left;}
#topmain2Contentdown2022:hover{background-image: url("../Images/2.png");background-position: -200px -505px;}
#topmain2Contentdown203{width: 570px;height: 40px;z-index: 3;margin:auto;}
#topmain2Contentdown2031{display: block;float: left;width: 318px;height:40px;background-image:url("../Images/3.png");background-position: -43px -105px;}
#topmain2Contentdown2032{margin-left: 30px;width: 135px;height:40px;background-image: url("../Images/2.png");background-position: 0 -560px;display: block;float: left;}
#topmain2Contentdown2032:hover{background-image: url("../Images/2.png");background-position: -200px -560px;}
#topmain2Contentdown204{width: 570px;height: 40px;z-index: 3;margin:auto;}
#topmain2Contentdown2041{display: block;float: left;width: 318px;height:40px;background-image:url("../Images/3.png");background-position: -43px -138px;}
#topmain2Contentdown2042{width: 135px;height:40px;background-image: url("../Images/2.png");background-position: 0 -615px;display: block;float: left;background-repeat: no-repeat;margin-left: 30px;}
#topmain2Contentdown2042:hover{background-image: url("../Images/2.png");background-position: -200px -615px;}
#topmain2Contentdown205{width: 570px;height: 40px;z-index: 3;margin:auto;}
#topmain2Contentdown2051{width: 318px;height:40px;background-image: url("../Images/2.png");background-position: 0 -870px;display: block;float: left;}
#topmain2Contentdown2051:hover{background-image: url("../Images/2.png");background-position: 0 -924px;}
#belongs2{width: 36px;height: 17px;background-image: url("../Images/2.png");background-position: -403px -293px;z-index: 3;left:620px;position: absolute;top: 300px;display: none;}
